<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.27/moment-timezone-with-data.min.js" integrity="sha256-ltodGpbck6Njvgsa9pG7Xnr0xkVF57ctgfAS+LOeZt4=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/ro.js" integrity="sha256-byt6+Ts3ia6sQPF6Yy/g+D11Lib6k3uXTfufCiFSGrY=" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" />
    </head>
    <body>
        <div id="app">
            <section class="section">
                <div class="container has-text-centered">
                    <div class="columns is-mobile">
                        <div class="column is-half is-offset-one-quarter">
                            <article class="message">
                                    <div class="message-header">
                                        <p>Ultima activitate</p>
                                    </div>
                                    <div class="message-body">
                                        <div v-if="last_log">
                                            <div class="title">{{ last_log.room_name}}</div>
                                            <div class="subtitle">{{ last_log.created }}</strong>
                                        </div>
                                    </div>
                            </article>

                                <article v-for="(logs,room) in rooms" class="message room">
                                        <div class="message-header">
                                            <p>{{ room }}</p>
                                        </div>
                                        <div class="message-body">
                                            <div v-if="logs.length > 0" v-for="log in logs" v-bind:key="log.key" class="log">
                                                    <strong>{{render_date(log.created)}}</strong>
                                            </div>
                                            <div v-else>Nu sunt date disponibile</div>
                                        </div>
                                </article>

                        </div>
                    </div>

                </div>
            </section>
        </div>
    </body>
    <script>
        new Vue({
        el: '#app',
        data () {
            return {
                last_log: null,
                rooms: [],
            }
        },
        mounted () {
            axios.defaults.headers.common['Authorization'] = 'Basic YWRtaW46YWRtaW4='
            this.get_last_log()
            this.get_rooms()
            setInterval(() => this.get_last_log(), 10000)
            setInterval(() => this.get_rooms(), 10000)
        },
        methods: {
            render_date: function (datestr){
                return moment(datestr).tz('GMT').format('hh:mm:ss')
            },
            render_last_log: function (response){
                this.last_log = response.data.result

            },
            render_rooms: function (response){
                this.rooms = response.data.results
            },
            get_last_log: function (){
                axios
                .get('https://house.techwetrust.com/show/last')
                .then(response => this.render_last_log(response))
            },
            get_rooms: function (){
                axios
                .get('https://house.techwetrust.com/show/rooms')
                .then(response => this.render_rooms(response))
            },

        }
        })
    </script>
    <style>
        article.room > div.message-body > div.log:not(:first-child){
            color: gray;
        }
    </style>
